.heading{
     display: flex;
     align-items: center;
     justify-content: space-between;
    
}

.tech-color{
    color: rgb(167, 236, 236);
}
.wave-color{
      color: #ed22a3;
      text-shadow: 0 0 8px rgba(255, 47, 179, 0.6);
}

.ul-itemms ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.btn {
  background: linear-gradient(
    90deg,
    rgb(247, 233, 63),
    rgb(251, 9, 180),
    rgb(145, 0, 248)
  );
  color: #fff;          /* text color */
  border-radius: 8px;
  border: none;
  padding: 12px 28px;
  font-weight: 600;
  cursor: pointer;
}
 

.hero{
  width:100% ;
  position: relative;



}

.image{
  position: absolute;
  top: 101px ;
  left: 620px;
}
 .microphone{
  position: absolute;
  top: 170px;
  left: 730px;
 }


.hero-2{
  
}


